<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2 class="p-3"> Add a brand</h2>

            <form>
                <label for="categoryName">Name</label>
                <input type="text" id="categoryName" name="categoryName" value="">
            </form>
            
            
            
            <button class="btn-sm btn-warning" onclick="captureValues()">Add</button>

    
    <script>
        async function captureValues() {
            var newName = document.getElementById("categoryName").value;
            
    
            await addCategory(newName);
        }
    </script>
    <script src="../../js/Categories.js"></script>
  </body>
</html>
