nav {
    background-color: blue;
}
#navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    margin-right: 20px; 
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin: 0; 
    padding: 0; 
}

.navbar-nav .nav-item {
    margin-right: 15px; 
}

.nav-link {
    color: black;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

